# Copy this file to app.env and fill in the values
POSTGRES_DB=timetallydb
POSTGRES_USER=
POSTGRES_PASSWORD=

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/timetallydb
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
