services:
    postgres:
        image: postgres:16
        container_name: postgres
        env_file:
            - app.env
        environment:
            - POSTGRES_USER=${POSTGRES_USER}
        volumes:
            - postgres_data:/var/lib/postgresql/data
        ports:
            - "5432:5432"
        healthcheck:
            test: [ "CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB:-postgres}" ]
            interval: 10s
            timeout: 5s
            retries: 5

    app:
        build: .
        container_name: timetally-app
        depends_on:
            postgres:
                condition: service_healthy
        ports:
            - "8081:8080"
        env_file:
            - app.env
        restart: unless-stopped

volumes:
    postgres_data:
