spring:
    application:
        name: timetally
    jpa:
        hibernate:
            ddl-auto: validate
        properties:
            hibernate:
                format_sql: true
        show-sql: true
        open-in-view: false
