spring:
    application:
        name: timetally
    jpa:
        hibernate:
            ddl-auto: none
        properties:
            hibernate:
                format_sql: true
        show-sql: true
        open-in-view: false

flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:migration
